input {
  mod-key "Super"
  focus-follows-mouse max-scroll-amount="10%"

  keyboard {
    xkb {
      layout "us"
      options "ctrl:nocaps"
    }
  }

  touchpad {
    tap
    natural-scroll
    accel-profile "flat"
  }

  mouse {

  }
}
